
@{ ViewData["Title"] = "Index"; }

<div class="col-md-16">
    <script>
        function myfunction() {
            setInterval(function () {
                var today = new Date();
                var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date + " " + time;
                var timeLive = today.getHours() * 360 + today.getMinutes() * 60 + today.getSeconds();
                document.getElementById('datetime').innerHTML = dateTime;
                document.getElementById('timelive').innerHTML = timeLive;
                document.getElementById('powtimelive').innerHTML = Math.pow(timeLive, 2);

            }, 100);
        }
    </script>
        <button class="btn-dark" onclick="myfunction()">Click To Show Data</button>
        <h1 style="color:red">Date/Time:<span id="datetime"></span></h1>
        <h2 style="color:blue">Date/Time Sum:<span id="timelive"></span></h2>
        <h3 style="color:green">Date/Time Sum+Pow:<span id="powtimelive"></span></h3>
    
</div>
